 <div class="row">
    <div class="col">

      <div ngbDropdown class="d-inline-block" display="dynamic" placement="bottom-right">
        <button class="btn btn-outline-danger" id="dropdownForm1" ngbDropdownToggle><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> Login</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" >

          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>

          <form class="px-4 py-3" [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!isLoading">
            <div class="form-group">
              <label for="usernameId">Your Username</label>
              <input type="text" class="form-control" id="usernameId" placeholder="Username" formControlName="username">
            </div>
            <div class="form-group">
              <label for="passwordId">Password</label>
              <input type="password" class="form-control" id="passwordId" placeholder="Password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-danger"><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem routerLink="register" class="btn btn-danger">New around here? Sign up</button>
        </div>
      </div>
    </div>
  </div>



