<div class="wrapper mt-5">

  <div class="container-fluid" id="body-container-fluid">
    <div class="container">
      <!---- for body container ---->
      <div class="jumbotron">
        <h1 class="display-1">4<fa-icon [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>1</h1>
        <h1 class="display-3">UNAUTHORIZED</h1>
        <p class="lower-case">Aw !! you are not authorized to access this page!</p>
        <p class="lower-case">Please contact thew web-page administration</p>

      </div>

      <!-------mother container middle class------------------->
    </div>
  </div>

</div>
