textarea:focus,
select:focus,
select option:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: 	#d9534f;
  box-shadow: 0 1px 1px #d9534f inset, 0 0 8px 	#d9534f;
  outline: 0 none;
}


.question-wrapper {
  display: grid;
  grid-template-columns: 1% 5% 23% 10% 10% 10% 10% 10% 6% 6%;
  grid-gap: 10px;
  margin-bottom: 15px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.t{
  color: #006cec;
  font-weight: bold;
  font-size: medium;
}
