<div class="wrapper mt-5">

  <div class="container-fluid" id="body-container-fluid">
    <div class="container">
      <!---- for body container ---->
      <div class="jumbotron">
        <h1 class="display-1">4<fa-icon [icon]="['fas', 'cog']" [spin]="true"></fa-icon>4</h1>
        <h1 class="display-3">ERROR</h1>
        <p class="lower-case">Aw !! webpage not found please try to refresh</p>
        <p class="lower-case">Maybe the page is under maintenance</p>

      </div>

      <!-------mother container middle class------------------->
    </div>
  </div>

</div>
