<div *ngIf="contentLoading" class="container d-flex align-items-center justify-content-center"><app-loading-spinner class="mt-5"></app-loading-spinner></div>

<div class="container-fluid">
<div class="alert alert-danger text-center w-100" role="alert" *ngIf="emptyCategories">
  {{emptyCategories}}
</div>

  <div class="play-wrapper mt-2" *ngIf="!contentLoading">

    <div class="box">
      <button class="btn btn-danger text-center btn-block"><fa-icon [icon]="['fas', 'shapes']"></fa-icon> Categories</button>

      <button class="btn btn-outline-danger text-center btn-block" *ngFor="let cat of categoryList" (click)="selectCategory(cat)">{{cat.categoryName}}</button>
    </div>

    <div class="box p-4">

      <mat-card class="border border-light w-100 rounded d-question" *ngIf="currentPlayingQuestions.length > 0">

        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h4 style="font-weight: normal;">{{selectedQuestion.question}}</h4>
            <div class="float-right display-4">{{expirationTime}}</div>
          </div>
          <div class="card-body">

              <div class="answers-wrapper justify-content-around" >
                <div class="box-ans"  *ngFor="let answer of selectedQuestion.questionAnswers"><button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="onAnswer(answer.answerValue)">{{answer.answerValue}}</button></div>
              </div>

          </div>
        </div>


      </mat-card>

    </div>
  </div>
</div>
