.play-wrapper {
  display: grid;
  grid-template-columns: 17% 82%;
  grid-gap: 1px;
}

.d-question{
  width: 92%;
  margin-left:15px;
  padding: 10px;
  height: 550px;
}


.answers-wrapper {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 10px;
}
