.play-wrapper {
  display: grid;
  grid-template-columns: 17% 82%;
  grid-gap: 1px;
}

.d-question{
  width: 92%;
  margin-left:15px;
  padding: 10px;
}

.top-answer{
  grid-column: 1/-1;
}

.answers-wrapper {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 10px;
}
