<div *ngIf="contentLoading" class="container d-flex align-items-center justify-content-center"><app-loading-spinner class="mt-5"></app-loading-spinner></div>

<div class="container-fluid">
<div class="alert alert-danger text-center w-100" role="alert" *ngIf="emptyCategories">
  {{emptyCategories}}
</div>

  <div class="play-wrapper mt-2" *ngIf="!contentLoading">

    <div class="box">
      <button class="btn btn-danger text-center btn-block"><fa-icon [icon]="['fas', 'shapes']"></fa-icon> Categories</button>

      <button class="btn btn-outline-danger text-center btn-block" *ngFor="let cat of categoryList" (click)="selectCategory(cat)">{{cat.categoryName}}</button>
    </div>

    <div class="box p-4">

      <mat-card *ngIf="currentPlayingQuestions.length == 0">
        <app-play-top></app-play-top>
      </mat-card>

      <mat-card class="border border-light w-100 rounded d-question" *ngIf="currentPlayingQuestions.length > 0">

        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h4 style="font-weight: normal;">{{selectedQuestion.question}}</h4>
            <div class="float-right display-4 text-white bg-success p-2" *ngIf="selectedQuestion.questionDifficulty === 'EASY'" >{{expirationTime}}</div>
            <div class="float-right display-4 text-white bg-warning p-2" *ngIf="selectedQuestion.questionDifficulty === 'MEDIUM'">{{expirationTime}}</div>
            <div class="float-right display-4 text-white bg-danger p-2" *ngIf="selectedQuestion.questionDifficulty === 'HARD'">{{expirationTime}}</div>
          </div>
          <div class="card-body">

              <div class="answers-wrapper justify-content-center">
                <div class="top-answer" *ngIf="showScoreAlert">
                  <div class="alert alert-primary" role="alert">
                    Congrats! Your answer was correct. You received {{pointsReceived}} points!
                  </div>
                </div>
                <div class="box-ans"  *ngFor="let answer of selectedQuestion.questionAnswers"><button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="onAnswer(answer.answerValue)">{{answer.answerValue}}</button></div>
              </div>

          </div>
        </div>


        <div class="card mt-4">
          <div class="card-header d-flex justify-content-between">
            <h4 class="text-primary text-capitalize text-center">Quick Guide!</h4>
            <h4 class="float-right text-secondary">Current Score: {{currentScore}}</h4>
          </div>
          <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">To answer a question you have to press one of the 4 above buttons.</li>
                <li class="list-group-item">You have 15 seconds to answer to a question.</li>
                <li class="list-group-item">Each question difficulty is being show by the timer background color (Easy:Green Medium:Yellow Hard:Red)</li>
                <li class="list-group-item">Each level of difficulty rewards you with: 10,20 or 30 Points</li>
              </ul>
          </div>
        </div>


      </mat-card>

    </div>
  </div>
</div>
