<div class="card bg-light">


  <article class="card-body mx-auto" style="max-width: 400px;">
    <div class="alert alert-success" role="alert" *ngIf="success">
      {{success}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>

    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your trivia account</p>
    <p class="divider-text">
      <span class="bg-light"><fa-icon [icon]="['fas', 'question-circle']"></fa-icon></span>
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <div class="form-group input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text"> <fa-icon [icon]="['fas', 'user']"></fa-icon> </span>
          </div>
        <input  formControlName="username" class="form-control" placeholder="Username" type="text">
      </div> <!-- form-group// -->


      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <fa-icon [icon]="['fas', 'envelope']"></fa-icon> </span>
        </div>
        <input formControlName="email" class="form-control" placeholder="Email address" type="email">
      </div> <!-- form-group// -->

      <div class="mb-2">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
        </div>
        <input  formControlName="password" class="form-control" placeholder="Create password" type="password" (focus)="showBar()" (blur)="hideProgressBar()">
      </div> <!-- form-group// -->
        <ngb-progressbar *ngIf="showProgressBar" [type]="progressBarType" [value]="progressBarValue" [striped]="true" [animated]="true">{{progressBarText}}!</ngb-progressbar>
      </div>
      <div class="mb-3">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
        </div>
        <input  formControlName="repeatPassword" class="form-control" placeholder="Repeat password" type="password" >
      </div> <!-- form-group// -->
        <ngb-progressbar *ngIf="showProgressBarRp && registerForm.get('repeatPassword').value" type="success" [value]="progressBarValue" [striped]="true" [animated]="true">Password Match</ngb-progressbar>
        <ngb-progressbar *ngIf="!showProgressBarRp && registerForm.get('repeatPassword').value" type="danger" [value]="100" [striped]="true" [animated]="true">Password not match</ngb-progressbar>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid && passNotMatch"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Create Account</button>
      </div> <!-- form-group// -->
      <p class="text-center">Have an account? <a routerLink="login">Log In</a> </p>
    </form>
  </article>
</div> <!-- card.// -->

