<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your trivia account</p>
    <p class="divider-text">
      <span class="bg-light"><fa-icon [icon]="['fas', 'question-circle']"></fa-icon></span>
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <fa-icon [icon]="['fas', 'user']"></fa-icon> </span>
        </div>
        <input name="" class="form-control" placeholder="Username" type="text">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <fa-icon [icon]="['fas', 'envelope']"></fa-icon> </span>
        </div>
        <input name="" class="form-control" placeholder="Email address" type="email">
      </div> <!-- form-group// -->

      <div class="mb-2">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
        </div>
        <input class="form-control" placeholder="Create password" type="password">
      </div> <!-- form-group// -->
        <ngb-progressbar [type]="" [value]="100" [striped]="true">Completed!</ngb-progressbar>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
        </div>
        <input class="form-control" placeholder="Repeat password" type="password">
      </div> <!-- form-group// -->

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Create Account</button>
      </div> <!-- form-group// -->
      <p class="text-center">Have an account? <a href="">Log In</a> </p>
    </form>
  </article>
</div> <!-- card.// -->

