<div class="card-body mx-auto" style="max-width: 100%; min-width: 100%">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper" >
      <img style="width:100%;height:600px"  src="../../assets/images/1.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1 class="display-2">Geography</h1>
      <h3 style="font-weight: normal;">Without Geography you are nowhere.</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width:100%;height:600px" src="../../assets/images/2.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h1 class="display-2">History</h1>
      <h3 style="font-weight: normal;">Revolutions are the locomotives of history.</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width:100%;height:600px" src="../../assets/images/3.jpg"  alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h1 class="display-2">Sports</h1>
      <h3 style="font-weight: normal;">The only way to prove you are good at sports is to lose.</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width:100%;height:600px" src="../../assets/images/4.jpg" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">
      <h1 class="display-2">Knowledge</h1>
      <h3 style="font-weight: normal;">Knowledge is of no value unless you put int into practice.</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width:100%;height:600px" src="../../assets/images/5.jpg" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">

      <p class="display-4">And many more topics to explore...</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
